body{
    font-family: 'Nunito', sans-serif;
    background-image: url(../imgs/bola-LogoCompasso\ 1.svg), linear-gradient(#E5E5E5 20%,#ffffff 50% );
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    
}